/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
  background-color: black;
}

body {
  counter-reset: page;
  font-family: 'Syne Mono', monospace;
  color: rgb(85, 85, 85);
}

p {
  font-family: 'Syne Mono', monospace;
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
}
@page:left {
  margin-left: 1in;
  margin-right: 1in;

  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content:"Story of Workshop F";
  }
}
@page:right {
  margin-left: 1in;
  margin-right: 0.25in;
 
  @bottom-left {
    content:"JULIA DU";
  }
  @bottom-right {
    content: counter(page);
  }

}


.two-col {
  column-count: 3;
  column-gap: 2em;
}

.Text {
  font-size:0.8rem;
  line-height: 120%;
}

@media print {
  body {
    background: white;
  }
  }

button {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 93%;
  }
  
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-7px);
    font-family: 'DotGothic16', sans-serif;
  }
  
.title {
  font-size: 3rem;
  font-family: 'Libre Barcode 39 Text', cursive;
}